
/*............................................Heading*/

.navbar {
	padding: 10px 10px 10px 10px;
	height: 60px;
	background-color: #A63A79;
	text-shadow: 2px 2px 3px black;
}

.custom-toggler.navbar-toggler {
	border-color: #fff;
	border-width: 2px;
	box-shadow: 2px 2px 3px black;
}

.navbar-dark .navbar-brand {
	font-family: 'Concert One', cursive;
	font-size: 22px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 3px black;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-family: 'Concert One', cursive;
	font-size: 22px;
}

.fa-bars {
	color: #fff;
	text-shadow: 2px 2px 3px black;
}


/*............................................Home Page*/

.img-fluid {
	width: 100%;
	height: 36em;
}

.img-responsive {
	display: block;
	width: 100%;
	height: 103%;
}

.img-title {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}


/*............................................Band Page*/



.card-header {
	text-align: center;
	font-family:Arial, Helvetica;
	font-size: 20px;
	background-color: #AB92B3;
}

.card-title {
	text-align: center;
	font-family: 'Concert One', cursive;
	margin-bottom: 0px;
}

.card {
	margin: 10px;
	border-style: solid;
	border-color: #803790;
	border-width: 1px;
	background-color: #AB92B3;
	z-index: -1;
}

.card-text {
	font-family:Arial, Helvetica;
	text-align: justify;
}

.column {
  float: left;
  width: 25%;
}





/*............................................Tours*/

.bg-primary {
	background-color: #AB92B3!important;
}

.table {
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.table-responsive {
	height: auto;
}

.table-header {
	text-align: center;
}

td,
th {
	font-family:Arial, Helvetica;
	font-size: 10px;
	font-weight: 900;
	color: #000;
}


/*............................................Store*/


/* Grid container */

#p-grid {
	margin-left: 5px;
	margin-right: 5px;
	display: grid;
	margin-top: 5px;
	margin-bottom: 6px;
	
	/* Width of columns */
	grid-template-columns: 25% 25% 25% 25%;
}


/* Product items */

div.p-grid-in {
	box-sizing: border-box;
	margin: 5px;
	padding: 10px;
	border: 1px solid #e8f0ff;
	border-radius: 5px;
	box-shadow: 2px 2px 3px black;
	background: #AB92B3;
	
}

img.p-img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

div.p-name {
	font-size: 18px;
	text-align: center;
	font-family:Arial, Helvetica;
	margin-top: 2px;
	color: black;
	border-radius: 5px;
	
}

div.p-price {
	color: black;
	text-align: center;
	font-size: 20px;
	text-align: center;
	font-family:Arial, Helvetica;
	
}

div.p-desc {
	color: #888;
	font-size: 0.9em;
}

button.p-add {
	background: #f46b41;
	color: #fff;
	border: none;
	width: 100%;
	padding: 10px;
	font-size: 1.1em;
	cursor: pointer;
	border-radius: 5px;
}

h6 {
    font-family:Arial, Helvetica;
	color: black;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

audio {
	width: 95%;
	box-shadow: 2px 2px 3px black;
	border-radius: 100px;
	border-width: 25px;
	transform: scale(1.05);
	background-color: black;
	margin-left: 7px;
	
}


/* Responsive */



@media only screen and (max-width: 600px) {
	#p-grid {
		grid-template-columns: 100%;
	}
}


/*............................................Contact*/

:root {
	--white: #afafaf;
	--red: #e31b23;
	--borderFormEls: hsl(0, 0%, 10%);
	--bgFormEls: hsl(0, 0%, 14%);
	--bgFormElsFocus: hsla(272, 90%, 54%, 0.6);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

a {
	color: inherit;
}

input,
select,
textarea,
button {
	font-family: inherit;
	font-size: 20px;
	font-family: 'Concert One', cursive;
}

button,
label {
	cursor: pointer;
}

select {
	appearance: none;
}

select::-ms-expand {
	display: none;
}

select:-moz-focusring {
	color: transparent !important;
	text-shadow: 0 0 0 var(--white);
}

textarea {
	resize: none;
}

ul {
	list-style: none;
}


.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
	margin-top: 15px;
	width: 50%;
	padding: 15px 10px;
	border: 1px solid var(--borderFormEls);
	border-color: #1A237E;
	border-radius: 5px;
	color: white;
	background: var(--bgFormEls);
	background-color: #2196f3;
	transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
	text-align: center;
}

.my-form textarea {
	height: 121px;
	text-align: center;
}

.my-form ::placeholder {
	color: inherit;
	opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:focus {
	background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
	transform: scale(1.02);
}

.my-form *:required,
.my-form select {
	background-repeat: no-repeat;
	background-position: center right 12px;
	background-size: 15px 15px;
}

.my-form .btn-grid {
	position: relative;
	overflow: hidden;
	transition: filter 0.2s;
}

.my-form button:enabled:hover,
.my-form button:focus {
	background: var(--bgFormElsFocus);
	background-color: red;
}

.my-form button>* {
	height: 25px;
	display: inline-block;
	width: 100%;
	transition: transform 0.4s ease-in-out;
	text-align: center;
}

.my-form button .back {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
	transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
	transform: translateX(110%);
}

.form-logo {
	float: right;
	border-radius: 5px;
	margin-top: 20px;
	margin-right: -50px;
	width: 550px;
}


/*............................................Footer*/

.footer {
	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: 'Concert One', cursive;
	color: #fff;
	background-color: #A63A79;
	text-shadow: 2px 2px 3px black;
	vertical-align: middle;
	position: fixed;
	bottom: 0;
	;
}




/*.............................................New Media Queries*/

@media only screen and (min-width: 375px) and (max-width: 576px) {
	.column {
		width: 100%;
		display: block;
		margin-top: -45px;
		padding-top: 35px;
		margin-bottom: 50px;
		text-align: center;
		background-color: #AB92B3;
	}

	.navbar-toggler {
		margin-right: 100%;
		padding-top: 3px;
    	font-size: 1.25rem;
		border-radius: .25rem;
		margin-top: -40px;
	}
	
	.navbar-brand {
		margin-top: -5px;
		margin-left: auto;
	}
	
	.navbar-dark .navbar-nav .nav-link{
		position:relative;
		display: block;
		width: 100vw;
		background-color: black;
		opacity: 0.5;
		height: 100%;
		font-size: 18px;
		top: 10px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		z-index: 1;
	}

	.mobile-tour {
		margin-top: 10px;
		display: block;
	}
	.table-responsive{
		display: none;
	}
}

@media only screen and (min-width: 800px){
	.img-fluid {
	width: 100%;
	height: 10vh;
}
	.img-responsive {
	width: 100%;
	height: 87.7vh;
}

.mobile-tour {
	display:none;
}


td {
	font-family:Arial, Helvetica;
	font-size: 10px;
	font-weight: 700;
	color: #000;
}

th {
	font-family:Arial, Helvetica;
	font-size: 11px;
	font-weight:900;
	color: #000;
}

h6 {
    font-family:Arial, Helvetica;
	font-size: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

div.p-name {
	font-size: 15px;
	text-align: center;
	border-radius: 5px;
	
}

div.p-price {
	color: black;
	font-size: 15px;
	text-align: center;
	font-family:Arial, Helvetica;
	
}

	


}

@media only screen and (min-width: 1024px) {
	#p-grid {
		grid-template-columns: 25% 25% 25% 25%;
		margin-top: 50px;
	}
	
	h6 {
   	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

td {
	font-family:Arial, Helvetica;
	font-size: 18px;
	font-weight: 700;
	color: #000;
}

th {
	font-family:Arial, Helvetica;
	font-size: 20px;
	font-weight:900;
	color: #000;
}


.img-responsive {
	width: 100%;
	height: 90.8vh;
}
}




	


@media only screen and (min-width: 1920px){
	
		#p-grid {
		grid-template-columns: 25% 25% 25% 25%;
		margin-top: 90px;
	}
	



td {
	font-family:Arial, Helvetica;
	font-size: px;
	font-weight: 700;
	color: #000;
}

th {
	font-family:Arial, Helvetica;
	font-size: 25px;
	font-weight:900;
	color: #000;
}

.img-responsive {
	width: 100%;
	height: 93.8vh;
}

.table {
	margin-top: 150px;
	
}

}


	





 	











